{
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"experimentalTernaries": false,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"trailingComma": "es5"
}
