{
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"configPath": "",
	"disableLanguages": [],
	"documentSelectors": [],
	"embeddedLanguageFormatting": "auto",
	"enable": true,
	"enableDebugLogs": false,
	"endOfLine": "lf",
	"experimentalTernaries": false,
	"htmlWhitespaceSensitivity": "css",
	"ignorePath": ".prettierignore",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"packageManager": "pnpm",
	"prettierPath": "",
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requireConfig": false,
	"requirePragma": false,
	"resolveGlobalModules": false,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"useEditorConfig": true,
	"vueIndentScriptAndStyle": false,
	"withNodeModules": false
}
