* {
    padding: 0;
    margin: 0
}

@media only screen and (max-width:504px) {
    #right-column {
        display: block
    }

    #menu-container {
        width: 210px !important
    }
}

@media only screen and (min-width:505px) {
    #right-column {
        display: none
    }
}

@media(any-hover:none) and (orientation:landscape) {
    #header-message {
        display: none
    }
}

#full-screen-game-div-button {
    position: fixed;
    top: 19px;
    right: 25px;
    z-index: 100
}

#full-screen-button {
    cursor: pointer;
    display: block
}

#side-navigation {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
    left: 55px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none
}

#menu-container {
    line-height: normal;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 210px;
    height: 100vh;
    margin-top: -150px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -50px;
    padding-top: 190px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #16181c;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1);
    list-style-type: none
}

#scrollable-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;
    max-height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px
}

#scrollable-container::-webkit-scrollbar {
    display: none
}

.#scrollable-container {
    -ms-overflow-style: none;
    scrollbar-width: none
}

#left-column {
    min-width: 200px;
    padding-right: 30px;
    padding-bottom: 10px
}

#right-column {
    width: 200px;
    padding-bottom: 10px
}

#menu-bottom {
    width: 200px;
    padding-bottom: 50px
}

#menu-bottom p {
    margin-bottom: 5px
}

#checkbox1 {
    display: flex;
    width: 70px;
    height: 55px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    left: -10px;
    top: -15px
}

#menuToggle span {
    display: flex;
    width: 50px;
    height: 4px;
    margin-bottom: 10px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 6px 0;
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease
}

@media only screen and (max-width:600px) {
    #menuToggle span {
        width: 24px;
        height: 2px;
        margin-bottom: 4px;
        transform-origin: 3px 0
    }

    #checkbox1 {
        width: 40px;
        height: 40px
    }

    nav svg {
        width: 20px;
        height: 20px;
        margin-top: 2px
    }
}

#menuToggle span:first-child {
    transform-origin: 0% 0%
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%
}

#checkbox1:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px)
}

#checkbox1:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(.2, .2)
}

#checkbox1:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px)
}

#checkbox1:checked~#menu-container {
    transform: none
}

#menu1 {
    list-style-type: none
}

#menu1 h1 {
    color: #fff
}

#menu1 a {
    margin-left: 7px;
    text-decoration: none;
    color: #e6e6e6;
    opacity: 1;
    font-size: 1.1rem;
    font-weight: 300;
    transition: 200ms
}

#menu1 li:hover {
    background-color: #0e0e0e !important
}

#menu1 li {
    border-radius: 25px;
    padding: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center
}

.more-games-button {
    background-color: #16181c;
    border: 1px #d3d3d3 solid;
    border-radius: 10px;
    color: lightgrey;
    font-size: 24px;
    text-transform: uppercase;
    padding: 4px 10px;
    width: 180px;
    outline: 0
}

.more-games-button:hover {
    cursor: pointer;
    border: 1px #a9a9a9 solid;
    background-color: #0f0f0f;
    color: #0e0e0e
}

a.page-link {
    text-decoration: none;
    color: #e6e6e6;
    opacity: 1;
    font-size: 1.5rem !important;
    font-weight: 400;
    transition: 200ms;
    padding-bottom: 2px
}

a.page-link:hover {
    opacity: .5
}

a.small-link {
    text-decoration: none;
    color: #e6e6e6;
    opacity: 1;
    font-size: 1rem !important;
    font-weight: 400;
    transition: 200ms;
    padding-bottom: 2px
}

a.small-link:hover {
    opacity: .5
}

a.small-link:visited {
    color: #e6e6e6
}

.menu-small-text {
    color: #e6e6e6;
    opacity: 1;
    font-size: .8rem;
    line-height: 1rem
}

.asterisk {
    color: #e6e6e6;
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 400;
    vertical-align: top
}

.active {
    background-color: rgba(0, 0, 0, .5)
}