name: Create Version File + Prettify Code

on:
    push:
    workflow_dispatch:

permissions:
    contents: write
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    version-file-and-prettier:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "18"

            - name: Prettify code
              run: |
                  npx prettier --write "**/*.{js,md,html,css,yml}"

            - name: Create v.txt with commit hash
              run: |
                  echo "${{ github.sha }}" > v.txt

            - name: Get commit message
              id: get_commit_message
              run: |
                  COMMIT_MSG=$(git log -1 --pretty=format:%s)
                  echo "message=$COMMIT_MSG" >> $GITHUB_OUTPUT

            - name: Commit changes
              run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com
                  git add .
                  git commit -m "${{ github.actor }} - ${{ steps.get_commit_message.outputs.message }}
                  Original commit: https://github.com/${{ github.repository }}/commit/${{ github.sha }}" || exit 0
                  git push

            # - name: Push to site
            #   run: |
            #       curl \
            #         -X POST \
            #         -H "Accept: application/vnd.github.v3+json" \
            #         -H "Authorization: token ${{ secrets.ACCESS_TOKEN }}" \
            #         https://api.github.com/repos/${{ github.repository }}/actions/workflows/static.yml/dispatches \
            #         -d '{"ref":"main"}'

    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: version-file-and-prettier
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Pages
              uses: actions/configure-pages@v4
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "."
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
